* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('../icon/Bluebg.jpg');
    background-size: cover;             
    background-position: center;        
    background-repeat: no-repeat;       
    background-attachment: fixed;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot-container {
    width: 100%;
    max-width: 450px;
    padding: 20px;
}

.forgot-card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05); /* Shadow halus */
    text-align: center;
}

.brand-logo img {
    width: 80px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #888;
    margin-bottom: 30px;
    line-height: 1.6;
}

.input-group {
    text-align: left;
    margin-bottom: 25px;
}

.input-group label {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin-bottom: 8px;
    display: block;
}

.input-box {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #F1F3F5;
    padding: 12px 15px;
    border-radius: 12px;
    transition: 0.3s;
}

.input-box span {
    color: #2392ED; /* Warna tema biru */
    font-size: 20px;
}

.input-box input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 14px;
}

.btn-reset {
    width: 100%;
    background-color: #2392ED;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-reset:hover {
    background-color: #1A7ACD;
    box-shadow: 0 5px 15px rgba(35, 146, 237, 0.3);
}

.forgot-footer {
    margin-top: 25px;
}

.forgot-footer a {
    text-decoration: none;
    color: #888;
    font-size: 14px;
    font-weight: 500;
}

.forgot-footer a:hover {
    color: #2392ED;
    text-decoration: none;  
}

/*look password*/
.input-box {
    position: relative;
    display: flex;
    align-items: center;
    background: #F1F3F5;
    padding: 12px 15px;
    border-radius: 12px;
}

.pre-icon {
    color: #888;
    font-size: 20px !important;
    font-variation-settings: 'wght' 500, 'FILL' 0;
    margin-right: 12px;
}

.toggle-password {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: #2392ED;
    font-size: 20px !important;
    font-variation-settings: 'wght' 500, 'FILL' 0;
    transition: 0.3s;
    user-select: none;
}